<%- include('../partials/_head') %>
    <%- include('../partials/_nav') %>

        <div class="container cont1 animate__animated animate__flipInY">
            <div class="card card1">
                <div class="card-head bg-dark">
                    <h2>Editar usuario</h2>
                </div>
                <div class="card-body">
                    <form action="/updateUser/<%= data.user_id %>" method="POST">
                        <div class="form-group mb-4">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" value="<%= data.nombre %>" required>
                        </div>
                        <div class="form-group mb-4">
                            <input type="text" name="apellido" placeholder="Apellido" class="form-control" value="<%= data.apellido %>" required>
                        </div>
                        <div class="form-group mb-4">
                            <select class="form-select" name="cargo" aria-label="Cargo">
                                <option selected><%= data.cargo %></option>
                                <option value="Admin">Admin</option>
                                <option value="Usuario">Usuario</option>
                              </select>
                        </div>
                        <div class="form-group mb-4">
                            <input type="phone" name="telefono" placeholder="Telefono" class="form-control" value="<%=data.telefono %>" required>
                        </div>
                        <div class="form-group mb-4">
                            <input type="text" name="direccion" placeholder="Direccion" class="form-control" value="<%=data.direccion %>" required>
                        </div>
                        <div class="form-group mb-4">
                            <input type="email" name="correo" placeholder="@Email" class="form-control" value="<%=data.email %>" required>
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" name="password" placeholder="Password" class="form-control" value="<%=data.password %>" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <%- include('../partials/_footer') %>