<%- include('../partials/_head') %>
    <% if(login) {%>
        <%- include('../partials/_nav') %>
            <div class="container-fluid btn_insert_div">
                <div class="acciones">
                    <a href="/createLab" class="btn_insert">+</a>
                </div>
            </div>
            <div class="container table-responsive tbm animate__animated animate__bounce">
                <table class="table table-light table-bordered table-hover">
                    <thead>
                        <tr class="table-dark">
                            <th>N#</th>
                            <th>Numero de Pc</th>
                            <th>Estado</th>
                            <th>Ultima actualizacion</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < data.length; i++){ %>
                            <tr>
                                <td>
                                    Lab -
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%= data[i].num_pc %>
                                </td>
                                <td>
                                    <%= data[i].estado %>
                                </td>
                                <td>
                                    <%= data[i].updated_at %>
                                </td>
                                <td>
                                    <a href="/editLab/<%=data[i].lab_id%>" class="btn btn-info">Editar</a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <% } else{ %>
                <div class="div1">
                    <center>
                        <h1 class="text-white"><strong><%= name %> </strong></h1>
                        <a href="/login" class="btn btn-dark text-white">Ir al Login</a>
                    </center>
                </div>
                <% } %>
                    <%- include('../partials/_footer') %>